<div class="icon-container" *ngIf="!isDelete">
    <div class="icon">
        <button mat-icon-button matTooltip="Reminder"> <img src="../../../assets/remind.svg"></button>
    </div>
    <div class="icon">
        <button mat-icon-button matTooltip="Collaborator" (click)="openDialog(noteCard)"> <img src="../../../assets/collaborator.svg"></button>
    </div>

    <div class="icon">

        <button mat-icon-button matTooltip="BackroundColor" mat-button [matMenuTriggerFor]="color"> <img
                src="../../../assets/backColor.svg"></button>
        <mat-menu #color="matMenu">
            <div fxLayout="row wrap" style="padding-left: 8px;" fxLayout="row" fxLayoutAlign="none" class="bg">
                <div class="bg-color" *ngFor="let color of colors">
                    <button class="colorboxSetting" mat-raised-button [matTooltip]="color.name" [style.background]="color.code"
                        (click)="colorChange(color.code)"></button>
                </div>
            </div>
        </mat-menu>
    </div>

    <div class="icon">
        <button mat-icon-button matTooltip="Backroundimage"> <img src="../../../assets/AddImage.svg"></button>
    </div>
    <div class="icon" *ngIf="!isArchive">
        <button mat-icon-button matTooltip="Archive" (click)="archive()"> <img
                src="../../../assets/archive.svg"></button>
    </div>
    <div class="icon" *ngIf="isArchive">
        <button mat-icon-button matTooltip="unarchive" (click)="unarchive()"> <img
                src="../../../assets/unarchive.svg"></button>
    </div>
    <div class="icon">
        <button mat-icon-button matTooltip="More" mat-button [matMenuTriggerFor]="menu"><img
                src="../../../assets/more.svg" alt=""></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="trash()">Delete</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>make a copy</button>
        </mat-menu>
    </div>
</div>
<div class="restore" *ngIf="isDelete">
    <button mat-icon-button matTooltip="Restore" (click)="restore()"> <img src="../../../assets/Restore.svg"></button>
    <button mat-icon-button matTooltip="Delete" (click)="delete(this.noteCard.id)"> <img
            src="../../../assets/delete-permenent.svg"></button>
</div>