.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1px;
    width: 300px;
}
.icon button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bg-color button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 100px;
}

button:hover {
    background-color: rgb(212, 128, 32);
}
.restore{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1px;
    margin-left: 8px;
    width: 298px;
    height: auto;
}
.restore button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.bg{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    padding: 10px 10px 5px 5px;
}
.colorboxSetting {
    background-color: transparent;
    border-radius: 20px;
    margin: 2px;
    border: 0px solid;
}