<div class="head">
    <div class="notes" *ngFor="let data of recieveNoteList | filter : Search" [style.background]="data.color"  (UpdateEvent)="recievedEventFromIcon($event)">
        <div class="title">
            <p (click)="openDialog(data)">{{data.title}}</p>
        </div>
        <div class="description">
            <p (click)="openDialog(data)">{{data.description}}</p>
        </div>
        <div class="icons">
            <app-icons [noteCard]="data" (IconEvent)="recievedEventFromIcon($event)"></app-icons>
        </div>
    </div>
</div>