<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="header-container">
        <div class="logo">
            <ul>
                <li class="f">F</li>
                <li class="u">u</li>
                <li class="n">n</li>
                <li class="d">d</li>
                <li class="o">o</li>
                <li class="o1">o</li>
            </ul>
        </div>
        <h1 class="second-section">
            <span>Forgot Password</span>
        </h1>
        <div class="third-section">
            <span>Enter your recovery email</span>
        </div>
        <div class="input-field">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
                </mat-form-field>
            </p>
        </div>
        <div class="submit-field">
            <div class="sign-field">
                <a routerLink="/reset-password" class="button">Next</a>
            </div>
        </div>
    </div>
</body>
</html>
