.icon button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
.unArchive{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}