body {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 0.5px solid rgb(236 224 224);
    overflow: hidden;
    padding: 24px 24px 80px;
    border-radius: 5px;
    margin-left: 25%;

    width: 50rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.img1 {
    width: 20rem;
}

.logo ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 2rem;
    /* border: solid violet; */
    margin: 0rem;
    padding: 0rem
}

.name-block {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    padding: 0rem;
    justify-content: space-evenly;
    margin-bottom: -1rem;
    margin-left: -2px;
    margin-right: 2rem;
}

.f {
    color: rgb(9, 167, 229);
}

.u {
    color: red;
}

.n {
    color: yellow;
}

.d {
    color: rgb(9, 167, 229);
}

.o {
    color: green;
}

.o1 {
    color: red;
}

.header-name h1 {
    color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;

    word-break: break-word;
}

.logo-block {
    display: flex;
    flex-direction: column;
    height: 30rem;
    margin: 72px 4px 0;
    text-align: center;
}

.form-block {
    height: 30rem;
    display: block;
    margin: 0rem;
    padding: 0rem;
}

.fname {
    width: 13rem;
}

.email-container {
    margin: 0rem;
    font-size: 14px;
    height: 20px;
    padding: 7px 9px;
    margin-bottom: -1rem;
    margin-left: -12px;
}

.email {
    width: 75%;
}

.email-field {
    width: 412px;
}

.mail-msg h3 {
    padding: 4rem;
    margin-left: -3rem;
    display: flex;
}

.password-field {
    display: flex;
    margin: 0rem;
    margin-bottom: -2rem;
    margin-left: -3px;
}

.mat-form-field {
    padding: 0rem;
    width: 94%;
}

.figcaption {
    display: block;
}

.caption {
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: 183px;
    margin: -22px;
    font-family: system-ui;
    margin-left: 71px;
    text-align: center;
}

.pass {
    width: 13rem;
}

.mail-msg {
    margin: 0rem;
    margin-bottom: -4rem;
    padding: 0rem;
    margin-left: -15px;
}

.pass-msg {
    margin: -1rem;
    margin-bottom: -4rem;
    padding: 1rem;
    font-weight: 400;
    line-height: 0.125;
    font-family: system-ui;
    letter-spacing: normal;
    font-size: 66%;
    margin-top: .6666666667em;
    top: calc(100% - 1.7916666667em);
}

.show-pass {
    margin: 3rem;
    padding: 1rem;
    margin-left: -22px;
    margin-bottom: -2rem;
}

.submit-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 26px;
    min-height: 48px;
    padding-bottom: 20px;
}

.button {
    background-color: #185abc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.link {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width:860px) {
    .logo{
        margin: 1px;
    }
    .header-container {
        padding: 3px 25px 136px;
    margin-left: -7%;
    margin-top: 8px;
    border: none;
    }

    .logo-block {
        display: none;
    }
    .form-block {
        height: 30rem;
        display: block;
        margin: 0rem;
        padding: 0rem;
    }
    .name-block{
        display: flex;
        flex-direction: column;
    }
    .mat-form-field {
        padding: 0rem;
    width: 82%;
    }
    .fname {
        display: block;

        .mat-form-field {
            padding: 0rem;
            width: 166%;
        }
    }
    .lname {
        display: block;

        .mat-form-field {
            padding: 0rem;
            width: 91%;
        }
    }
    .email-container {
       display: block;
       .mat-form-field {
        padding: 0rem;
        width: 86%;
    }
    }
    .password-field {
        display: flex;
        flex-direction: column;
        .pass{

        .mat-form-field {
            padding: 0rem;
            width: 166%;
        }
    }
    .conf-pass{
        margin-bottom: -48px;
        .mat-form-field {
            padding: 0rem;
            width: 84%;
        }
    }
    }
    .mail-msg {
        margin: 0rem;
        margin-bottom: -4rem;
        padding: 0rem;
        margin-left: -15px;
    }
    .show-pass {
        margin: 3rem;
        padding: 1rem;
        margin-left: -22px;
        margin-bottom: -2rem;
    }
    .pass-msg{
        display: none;
    }
}

@media only screen and (max-width:601px) {
    .header-container {
        padding: 3px 25px 136px;
    margin-left: -7%;
    margin-top: 8px;
    border: none;
    }
    .logo-block {
        display: none;
    }
}