<div class="collabs">

    <span class="mat-title">Collaborators</span>
    <hr />

    <div class="rows">
        <button mat-icon-button class="remove"> <img src="../../../assets/Circle-icons-profile.svg" width="33px" height="33px"> </button>
        <div class="collab">
            <span><b>{{fname}} </b><b>{{lname}}</b><i>(Owner)</i></span>
            <span>{{email}}</span>
        </div>
        <button mat-icon-button style="visibility:hidden;"><img src="../../../assets/Cancel-Search.svg"></button>
    </div>

    <div *ngFor="let c of collabs" class="rows">
        <button mat-icon-button class="remove"> <img src="../../../assets/Circle-icons-profile.svg" width="33px" height="33px"> </button>
        <div class="collab">
            <span><b>{{c.firstName}} </b><b>{{c.lastName}}</b></span>
            <span>{{c.email}}</span>
        </div>
        <button mat-icon-button class="remove" (click)="removeCollab(c.userId)"><img src="../../../assets/Cancel-Search.svg"></button>
    </div>

    <div class="rows">
        <button mat-icon-button style="border: 1px solid gray;" class="remove"> <img src="../../../assets/add_person.svg" width="24px" height="36px"> </button>
        <div class="collab" style="padding: 10px 0px;">
            <input matInput placeholder="Person or email to share with" (keyup)="collab($event)" [(ngModel)]="collabEmail" [matMenuTriggerFor]="collablist">
        </div>
        <mat-menu #collablist="matMenu" class="menu">
            <div style="padding-left: 8px;" class="bg">
                <div class="bg-color" *ngFor="let data of collabList">
                    <mat-list-item role="listitem" (click)="selectCollab(data)">{{data.email}}</mat-list-item>
                </div>
            </div>
        </mat-menu>
        <button mat-icon-button (click)="addCollab()" [style]="collabEmail==''? 'opacity:0' : 'opacity: 1'" class="remove"><img src="../../../assets/done_black_24dp.svg"></button>
    </div>

</div>

<div class="buttons">
    <button mat-button matTooltip="Cancel">Cancel</button>
    <button mat-button matTooltip="Save" (click)="save(collabs)">Save</button>
</div>