<div class="head">
    <div class="notes" style="width: 900px; min-height:fit-content; max-height:1200px">
        <div tabindex="0" data-tooltip-text="Select note" aria-label="Select note" style="user-select: none;" class="select">
        <img src="../../../assets/select.svg" alt=""></div>
        <div class="title">
            <p>{{title}}</p>
        </div>
        <div class="description">
            <p>{{description}}</p>
        </div>
        <div class="icons">
                <app-icons></app-icons>
        </div>
    </div>
</div>