<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div class="header-container">
        <div class="logo">
            <ul>
                <li class="f">F</li>
                <li class="u">u</li>
                <li class="n">n</li>
                <li class="d">d</li>
                <li class="o">o</li>
                <li class="o1">o</li>
            </ul>
        </div>
        <h1 class="second-section">
            <span>Reset Password</span>
        </h1>
        <div class="input-field">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="New Password">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Confirm Password">
                  <mat-hint>At least 8 charecters</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <div class="submit-field">
            <div class="sign-field">
                <a href="#" class="button">Next</a>
            </div>
        </div>
    </div>
</body>
</html>
